.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.canvasControl {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.container:focus {
  outline-width: 0;
}

.rootContainer {
  height: 100%;
  background: #d8dee9;
  position: relative;
  overflow: hidden;
}

.node {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 2px;
  box-shadow: 0px 2p x 5px 0px rgba(0, 0, 0, 0.17);
  user-select: none;
  text-align: center;
  z-index: 1000;
  pointer-events: all;
  min-width: max-content;
  width: max-content;
}

.node:hover {
  cursor: pointer;
}

.nodeInput {
  border: none;
  z-index: -1;
  cursor: inherit;
  background: #f5f5f5;
  user-select: none;
}

.wrapper {
  display: grid;
}

.wrapper::after {
  content: attr(data-replicated-value) ' ';
  white-space: pre-wrap;
  visibility: hidden;
}

.wrapper > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
  text-align: center;
}

.wrapper > textarea,
.wrapper::after {
  /* Identical styling required!! */
  word-break: break-all;
  grid-area: 1 / 1 / 2 / 2;
}

.plusIcon {
  background: #f5f5f5;
  padding: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.17);
  position: absolute;
  border-radius: 50%;
}

.line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  z-index: 20;
}
